<div class="d-flex justify-content-center gap-5 my-5">
    <a class="btn btn-primary w-25" asp-controller="Customer" asp-action="Index">Customers</a>
    <a class="btn btn-primary w-25" asp-controller="Car" asp-action="Index">Cars</a>
    <a class="btn btn-primary w-25" asp-controller="Rental" asp-action="Index">Rentals</a>
</div>